@model MerchandiseShop.WebApp.Models.UserDto

@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Имя</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Фамилия</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="checkbox">
                <label asp-for="IsAccess" class="control-label">Доступ</label>
                <input asp-for="IsAccess"/>
                <span asp-validation-for="IsAccess" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserTypeId" class="control-label">Тип пользователя</label>
                <select asp-for="UserTypeId" class="form-control" asp-items="ViewBag.UserTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointBalance" class="control-label">Баланс баллов</label>
                <input asp-for="PointBalance" class="form-control" />
                <span asp-validation-for="PointBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassNumber" class="control-label">Номер класса</label>
                <input asp-for="ClassNumber" class="form-control" />
                <span asp-validation-for="ClassNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassLetter" class="control-label">Буква класса</label>
                <input asp-for="ClassLetter" class="form-control" />
                <span asp-validation-for="ClassLetter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label">Дата рождения</label>
                <input asp-for="Birthday" class="form-control" type="date"/>
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenderId" class="control-label">Пол</label>
                <select asp-for="GenderId" class="form-control" asp-items="ViewBag.UserGenderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">Пароль</label>
                <input asp-for="NewPassword" class="form-control"/>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Назад</a>
</div>