@model MerchandiseShop.WebApp.Models.EventParticipantDto

@{
    ViewData["Title"] = "Edit";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly />
            </div>
            <input type="hidden" asp-for="EventId" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                @{
                    var userInfo = Model.User.FirstName + " " + Model.User.LastName + " " + Model.User.ClassNumber.ToString() + Model.User.ClassLetter;
                }
                @Html.DisplayFor(modelItem => userInfo)
                <input asp-for="UserId" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="EventRoleId" class="control-label"></label>
                <select asp-for="EventRoleId" class="form-control" asp-items="ViewBag.EventRoleId"></select>
            </div>
            <div class="checkbox">
                <label asp-for="IsVisit" class="control-label"></label>
                <input asp-for="IsVisit"/>
                <span asp-validation-for="IsVisit" class="text-danger"></span>
            </div>
             

            <div class="form-group">
                <input type="submit" style="margin-top:2%" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-eventId="@Model.EventId">Назад</a>
</div>